<!-- Template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문목록</title>
</head>
<body>
    <h1>설문목록</h1>
    <!--view에서 전달한 question_list 값들을 출력 : html 주석-->
    {# 장고 주석 #}
    {% comment %}
        장고주석1
        장고주석2
    {% endcomment %}

    설문개수: {{question_list|length}} 개
    <ul>
        {% for question in question_list %}
            <li>
                <!-- /poll/vote_form/{{question.pk}}-->
                {# url "app_name:path명" [path parameter에 넘길 값] #}
                <a href='{% url "poll:vote_form" question.pk %}'> <!--/poll/vote_form/question의 id-->
                    {{question.pk}}. {{question.question_text}}
                </a>
            {% comment %}
                {{question.question_text|truncatewords:2}} ||
                {{question.question_text|truncatechars:10}} ||
            {% endcomment %}
                {{question.pub_date|date:'Y-m-d'}}
            </li>
        {% empty %}
            등록된 설문이 없습니다
        {% endfor %}

        {% comment %}
          {{question_list}}  {# View에서 전달한 question_list 변수의 값을 html 출력 #}
        {% endcomment %}
    </ul>
</body>
</html>