<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>회원가입</h2>
    회원가입을 해주세용용용~~~~
    <form action="login" method="post">

        <label>id:</label><br>
        <input type="text" id="id" name="id" value="test"><br>

        <label>pw:</label><br>
        <input type="password" id="pw" name="pw" value="11"><br><br>

        <input type="submit" value="확인">

    </form> 
    
</body>
</html>
