<!-- board/templates/post_detail.html -->
{% extends "layout.html" %}

{% block title%}글 상세{% endblock title%}
{% block contents %}
<!-- object변수: 조회한 결과를 가지고 있는 Model(Post) -->
<h1 style="border-bottom:1px solid gray;padding-bottom:5px">{{object.pk}}. {{object.title}}</h1>
<div style='border-bottom:1px solid gray;padding-bottom:5px;'>
    <b>작성자</b>: {{object.writer.name}}
    <b>작성일시</b>: {{object.create_at | date:"Y/m/d H:i:s"}}
    <b>수정일시</b>: {{object.update_at | date:"Y/m/d H:i:s"}}
    <b>카테고리</b>: {{object.category.category_name}}
</div>
<div style='border-bottom:1px solid gray;padding-bottom:5px;'>
    {{object.content | linebreaksbr}}
    
    {# upload된 file 이미지 링크 추가#}
    {% if object.up_file %}
        <!-- 업로드된 파일이 있다면 -> 다운로드 링크 -->
        <br>
        <a href="{{object.up_file.url}}">{{object.up_file}}</a>
    {% endif %}
    {% if object.up_image %}
        <br>
        <img src="{{object.up_image.url}}" width='500'>
    {% endif %}
</div>
{# 글수정/삭제 버튼: 이 글을 작성한 사람만 할 수 있도록 처리 #}
{# 글작성: object.writer, 로그인한 User: user #}
{% if user.is_authenticated %}
    {% if user.pk == object.writer.pk %}
        <p style='padding:5px'>
            <a href="{% url 'board:update' object.pk %}" class='btn btn-primary'>글 수정</a>
            <a href="{% url 'board:delete' object.pk %}" class='btn btn-danger' onclick='return confirm("정말 삭제하겠습니까?")'>
                글 삭제
            </a>
        </p>
    {% endif %}
{% endif %}

{% endblock contents%}

<!-- http://127.0.0.1:8000/board/detail/2 -->
